[Unit]
Description=RPMRepo Daily Snapshot

[Service]
Type=oneshot
Environment=RPMREPO_REPO_DIR=/etc/rpmrepo/repo
ExecStart=bash -c 'rpmrepo snapshot "${RPMREPO_REPO_DIR}"/*.json'
