[Unit]
Description=RPMRepo Daily Snapshot

[Service]
Type=oneshot
Environment=RPMREPO_REPO_DIR=/etc/rpmrepo/repo
ExecStart=bash -c 'for f in "${RPMREPO_REPO_DIR}"/*.json; do [ -e "$f" ] && rpmrepo snapshot "$f"; done'
